# For docker-compose.yaml
HOMEPAGE_ALLOWED_HOSTS="172.23.20.31:3330"

# For services.yaml
HOMEPAGE_VAR_DOMAIN=zaini.cloud
HOMEPAGE_VAR_APP_HOST=172.23.51.30
HOMEPAGE_VAR_STORAGE_HOST=172.23.51.32
HOMEPAGE_VAR_PROXMOX_HOST=172.23.51.34
HOMEPAGE_VAR_MONITOR_HOST=172.23.20.31
HOMEPAGE_VAR_IPMI_HOST=172.23.20.32
HOMEPAGE_VAR_ZIGBEE_HOST=172.23.60.25
HOMEPAGE_VAR_ROUTER_HOST=192.168.1.1
HOMEPAGE_VAR_SWITCH_HOST=172.23.20.10
HOMEPAGE_VAR_QBIT_USER=user
HOMEPAGE_VAR_QBIT_PWD=password

# Traefik label
DOMAIN=domain.tld
