# Environment and Secrets
.env
runtime.env
secrets.yaml
*.pem
**/netbird-server/config.yaml
**/netbird-server/*.env
**/netbird-server/cloudflare-dns-token
**/netbird-server/crowdsec/

# Logs and Cache
.cache/
logs/
*.log
*.log.*
.*.lock

# Terraform and Infrastructure
.terraform/
*.tfstate
terraform.tfstate.backup
terraform.tfvars
.terraform.tfstate.lock.info
*.tfstate.*

# Automation and Configuration
automation/ollama-aws-hybrid/ansible/open-webui-ec2-instance.yaml
automation/ollama-aws-hybrid/ansible/check.output
automation/ansible/server-admin/inventory/hosts.yml
app.ini
traefik.yml
pi5.yml
truenas.yml
ubuntu-server-host.yml
ubuntu-server-lan.yml
ubuntu-server-remote.yml
ubuntu-server.yml
**/monitoring/docker-compose.yml
**/monitoring-oci/grafana-admin-password

# Data and Storage
*/*/netbird/
**/matrix/synapse/
**/matrix/postgres-data/
**/convertx/data/
**/arr-stack/*/
**/uptime-kuma/data/
**/home-assistant/*/
**/home-assistant/.*/
**/home-assistant/scripts.yaml
**/home-assistant/automations.yaml
**/home-assistant/configuration.yaml
**/home-assistant/.HA_VERSION
**/home-assistant/*.db-shm
**/home-assistant/*.db-wal
**/home-assistant/scenes.yaml
**/home-assistant/*.db
zigbee.db
**/immich/postgres/
**/invidious/*/
**/invidious/.ameba.yml
**/invidious/.editorconfig
**/invidious/.gitattributes
**/invidious/.gitmodules
**/invidious/CHANGELOG.md
**/invidious/CHANGELOG_legacy.md
**/invidious/LICENSE
**/invidious/Makefile
**/invidious/TRANSLATION
**/invidious/invidious.service
**/invidious/shard.lock
**/invidious/shard.yml
**/invidious/videojs-dependencies.yml
**/neko/*/
**/open-webui/*/

# Miscellaneous
*/syncthing/config/*
obsidian-vault
