.env
.cache/
runtime.env
logs/
*.log
*.log.*
.*.lock
*/syncthing/config/*
*.pem
.terraform/
*.tfstate
terraform.tfstate.backup
terraform.tfvars
.terraform.tfstate.lock.info
automation/ollama-aws-hybrid/ansible/open-webui-ec2-instance.yaml
automation/ollama-aws-hybrid/ansible/check.output
automation/ansible/inventory/hosts.yml
*.tfstate.*
**/convertx/data/
**/sonarr/
**/qbittorrent/
**/prowlarr/
**/radarr/
**/lidarr/
**/bazarr/
**/seerr/
**/nzbget/
**/gluetun/
**/home-assistant/config/
**/home-assistant/.config/
**/home-assistant/blueprints/
**/home-assistant/backups/
**/home-assistant/.storage/
**/home-assistant/scripts.yaml
**/home-assistant/automations.yaml
**/home-assistant/configuration.yaml
**/home-assistant/.HA_VERSION
**/home-assistant/*.db-shm
**/home-assistant/*.db-wal
**/home-assistant/scenes.yaml
**/home-assistant/*.db
zigbee.db
app.ini
secrets.yaml
