.env
logs/
*/syncthing/config/*
*.pem
.terraform/
*.tfstate
terraform.tfstate.backup
terraform.tfvars
.terraform.tfstate.lock.info
automation/ollama-aws-hybrid/ansible/open-webui-ec2-instance.yaml
automation/ollama-aws-hybrid/ansible/check.output
