# General UID/GIU and Timezone
TZ=America/Los_Angeles

# Input your VPN provider and type here
VPN_SERVICE_PROVIDER=protonvpn
VPN_TYPE=wireguard

# Copy all these varibles from your generated configuration file
WIREGUARD_PUBLIC_KEY=key
WIREGUARD_PRIVATE_KEY=key

# Optional location varbiles, comma seperated list,no spaces after commas, make sure it matches the config you created
SERVER_COUNTRIES="United States"

# Postgres Secrets
POSTGRES_USER=kemal
POSTGRES_PASSWORD=kemal

# Invidious Configuration
# Run "pwgen 16 1" for Invidious (HMAC_KEY)
# Run "pwgen 16 1" for Invidious Companion (invidious_companion_key)
HMAC_KEY=xxxxxxxxx
COMPANION_KEY=xxxxxxxxx
