USER_UID=1000
USER_GID=1000
GITEA__database__NAME=gitea
GITEA__database__USER=gitea
GITEA__database__PASSWD=gitea
MYSQL_ROOT_PASSWORD=mysql-root
MYSQL_USER=mysql
MYSQL_PASSWORD=mysql
MYSQL_DATABASE=gitea
