# Netbird
NB_SETUP_KEY=your_setup_key
NB_MANAGEMENT_URL=https://netbird.domain.tld

# Valheim
TZ=America/Los_Angeles
SERVER_NAME=server-name
WORLD_NAME=world-name
SERVER_PASS=server-pass
SERVER_PUBLIC=false
UPDATE_CRON="0 4 * * *"
BACKUPS=true
BACKUPS_CRON="0 3 * * *"
RESTART_CRON="0 5 * * *"
