# Static IP on the NetBird-routed "services" network
VALHEIM_IP=10.110.2.42

# Valheim
TZ=America/Los_Angeles
SERVER_NAME=server-name
WORLD_NAME=world-name
SERVER_PASS=server-pass
SERVER_PUBLIC=false
UPDATE_CRON="0 4 * * *"
BACKUPS=true
BACKUPS_CRON="0 3 * * *"
RESTART_CRON="0 5 * * *"
