EULA=TRUE
MINECRAFT_VERSION=LATEST
TYPE=AUTO_CURSEFORGE
CF_API_KEY=your_curseforge_api_key
CF_PAGE_URL=https://www.curseforge.com/minecraft/modpacks/your-modpack
VANILLATWEAKS_SHARECODE=
MEMORY=14336M
USE_AIKAR_FLAGS=true
USE_MEOWICE_FLAGS=true
TZ=America/Los_Angeles
MAX_PLAYERS=5
MOTD=Welcome to My Server
DIFFICULTY=2
PVP=false
LEVEL=My Server
ENABLE_WHITELIST=true
SEED=
USERNAME=your_minecraft_username
