services:
  mc:
    image: itzg/minecraft-server:latest
    container_name: my-server
    tty: true
    stdin_open: true
    restart: no
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
      # VERSION: ${MINECRAFT_VERSION:-LATEST}
      TYPE: "AUTO_CURSEFORGE"
      CF_API_KEY: "YOUR_CF_API_KEY"
      CF_PAGE_URL: "https://www.curseforge.com/minecraft/modpacks/essential-perfected-fabric"

      # --- EXTRA MODS ---
      # Add slugs or IDs here (separated by commas or spaces)
      # Example adds 'JourneyMap' and 'Mouse Tweaks'
      # CURSEFORGE_FILES: |
        # geckolib
        # aquaculture
        # naturalist

      # --- VANILLA TWEAKS ---
      # Paste your share code from the website here
      # VANILLATWEAKS_SHARECODE: "YOUR_SHARE_CODE"
      VANILLATWEAKS_FILE: /config/vanillatweaks-datapacks.json,/config/vanillatweaks-resourcepacks.json
      REMOVE_OLD_VANILLATWEAKS: "TRUE"

      # --- PERFORMANCE & SYSTEM ---
      MEMORY: "14336M"
      USE_AIKAR_FLAGS: "true"
      USE_MEOWICE_FLAGS: "true"
      TZ: "America/Los_Angeles"

      # --- SERVER SETTINGS ---
      MAX_PLAYERS: "5"
      MOTD: "Welcome to My Server"
      DIFFICULTY: "2"
      PVP: "false"
      LEVEL: "My Server"
      ENABLE_WHITELIST: "true"
      SEED: ""
      OPS: |-
        $USERNAME
      WHITELIST: |-
        $USERNAME

    volumes:
      - "./data:/data"
      - ./config/vanillatweaks-datapacks.json:/config/vanillatweaks-datapacks.json:ro
      - ./config/vanillatweaks-resourcepacks.json:/config/vanillatweaks-resourcepacks.json:ro

