# For docker-compose.yaml
HOMEPAGE_ALLOWED_HOSTS="172.23.20.31:7575,homepage.zaini.cloud"

# For Widgets.yaml
HOMEPAGE_VAR_OWM_KEY=apikeyapikeyapikey
HOMEPAGE_VAR_OWM_LABEL="Los Angeles, CA"
HOMEPAGE_VAR_OWM_LAT=34.052235
HOMEPAGE_VAR_OWM_LONG=-118.243683

# Traefik label
DOMAIN=domain.tld
