# Self-hosted Wireguard configuration
VPN_SERVICE_PROVIDER=custom
VPN_TYPE=wireguard

# Public IP or domain of the VPN server. Domain names may not work in some setups
# Use IP if unsure
WIREGUARD_ENDPOINT_IP=WIREGUARD_ENDPOINT_IP
WIREGUARD_ENDPOINT_PORT=51820
WIREGUARD_PUBLIC_KEY=WIREGUARD_PUBLIC_KEY
WIREGUARD_PRIVATE_KEY=WIREGUARD_PRIVATE_KEY
WIREGUARD_PRESHARED_KEY=WIREGUARD_PRESHARED_KEY  # Optional

# IP address assigned to this VPN client (CIDR). Example: 10.0.1.5/32
WIREGUARD_ADDRESSES=WIREGUARD_ADDRESSES

# Include your home network (e.g. 192.168.1.0/24) and the public IP
# of the health target (1.1.1.1/32) for HEALTH_TARGET_ADDRESS
WIREGUARD_ALLOWED_IPS=1.1.1.1/32,192.168.1.0/24
HEALTH_TARGET_ADDRESS=1.1.1.1:443

#  DNS server used by the VPN client. Replace with local DNS if needed.
DNS_ADDRESS=1.1.1.1
WIREGUARD_MTU=1380

# Replace with your timezone (eg. America/Los_Angeles)
TZ=TZ
