# Postgres DB
POSTGRES_DB=wiki
POSTGRES_PASSWORD=wikijsrocks
POSTGRES_USER=wikijs

# Wiki
DB_USER=wikijs
DB_PASS=wikirocks
DB_NAME=wiki
TZ=America/Los_Angeles

# Traefik
DOMAIN=domain.tld
SUBDOMAIN=subdomain

