DOMAIN=domain.tld
SUBDOMAIN=subdomain

WEB_SEARCH_ENGINE=searxng
SEARXNG_QUERY_URL=http://searxng-core:8086/search?q=<query>
WEB_SEARCH_RESULT_COUNT=3

OLLAMA_BASE_URL=http://ollama:11434
WEBUI_SECRET_KEY=your_secret_key_here
CORS_ALLOW_ORIGIN=http://192.168.1.100:8080,https://open-webui.subdomain.domain.tld
